* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}

.top-header {
  margin-top: 20px;
  border-bottom: 1px solid #dadce0;
}

.top-header h1 {
  width: 15%;
  margin: auto;
}

.top-header img {
  object-fit: cover;
}

.container {
  width: 70%;
  height: 800px;
  margin: auto;
}

.row {
  height: 360px;
  display: flex;
  padding-top: 20px;
}

.left-side {
  width: calc(100% / 2);
}

.left-side img {
  width: 200px;
}

.left-side h2 {
  font-size: 28px;
  font-weight: 400;
}

.left-side input[name="business"] {
  width: 80%;
  margin: 20px 0;
  padding: 25px;
  border-radius: 5px;
  border: 1px solid;
}

.left-side p {
  margin: 10px 0;
  font-size: 14px;
}

.employee {
  margin: 20px 0;
}

.employee-item {
  width: 100%;
  font-size: 14px;
}

.employee-item input[type="radio"] {
  margin: 15px 20px;
}

select {
  width: 80%;
  padding: 25px;
}

button {
  width: 20%;
  margin-top: 30px;
  padding: 10px;
  background-color: blueviolet;
  color: white;
  border-radius: 5px;
}

.right-side {
  width: calc(100% / 2);
  background-color: white;
  border: 1px solid #dadce0;
  height: 520px;
  padding-left: 30px;
}

.remotely {
  width: 80%;
  margin: auto;
  display: flex;
  font-size: 16px;
  border-bottom: 1px solid #dadce0;
}

.meet {
  width: 30%;
}

.meet img {
  width: 50%;
  margin-top: 30px;
}

.meet h3 {
  padding-left: 10px;
  font-weight: 400;
}

.remotely-desc {
  width: 75%;
  padding: 30px 0;
  font-size: 14px;
}

.remotely-desc h4 {
  font-weight: 600;
}

.remotely-desc p {
  margin: 10px 0 0 0;
}

.workspace {
  width: 100%;
  margin-top: 20px;
}

.workspace h2 {
  width: 80%;
  padding-left: 50px;
  font-weight: 400;
}

.workspace img {
  width: 50%;
  margin: 20px 0 10px 30px;
}

.workspace-desc {
  margin-left: 40px;
}

.workspace-desc ul li {
  list-style: none;
}

.workspace-desc ul li i {
  padding: 10px;
}
