* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e6ebf2;
}

.container {
  width: 70%;
  height: 800px;
  margin: auto;
}

.row {
  margin-top: 15%;
  height: 360px;
  display: flex;
}

.left-side {
  width: calc(100% / 2);
  padding-top: 10%;
}

.left-side img {
  width: 200px;
}

.left-side h2 {
  width: 100%;
  font-size: 24px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
}

.right-side {
  width: calc(100% / 2);
  background-color: white;
}

.right-side input {
  width: 90%;
  margin: 20px 20px 0 20px;
  padding: 15px;
  border-radius: 6px;
  border: solid 1px;
}

.submit-button {
  width: 90%;
  margin: 20px 20px 0 20px;
  padding: 15px;
  background-color: #1877f2;
  color: white;
  font-size: 24px;
  border-radius: 6px;
  border: none;
}

.forgot-password {
  width: 90%;
  margin: 0 20px 0 20px;
  padding: 14px;
  text-align: center;
  color: #1877f2;
  font-size: 18px;
}

.forgot-password a {
  text-decoration: none;
}

hr {
  width: 90%;
  margin: 0 20px 0 20px;
}

.create-account-button {
  width: 50%;
  margin: 20px auto;
  padding: 15px;
  background-color: #42b72a;
  color: white;
  font-size: 18px;
  text-align: center;
  border-radius: 6px;
  border: none;
}

.create-account-button a {
  text-decoration: none;
  color: white;
}

.registration-message {
  margin-top: 50px;
}

.registration-message a {
  text-decoration: none;
  color: black;
}

.registration-message a:hover {
  text-decoration: underline;
} 
